.reponav-wrapper {
  position: relative;
  z-index: 2;
  padding-top: 1px;
  margin-top: -1px;
  overflow-y: hidden;
  background-color: #24292e;
}

.reponav {
  padding-right: 8px;
  padding-left: 8px;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  color: rgba(255,255,255,0.75);
  text-align: center;
  white-space: nowrap;
}

.reponav-item {
  display: inline-block;
  padding: 4px 8px 16px;
  color: rgba(255,255,255,0.75);
}

.reponav-item.selected {
  font-weight: 600;
  color: #fff;
}

.reponav-item .Counter {
  color: inherit;
  background-color: rgba(255,255,255,0.15);
}
