* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  text-size-adjust: 100%;
}

::placeholder {
  color: #6a737d;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
  color: #24292e;
  background-color: #fafbfc;
}

#root, .App {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
  color: #24292e;
}

a {
  color: #0366d6;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

footer {
  padding: 12px 0;
  font-size: 14px;
  border-top: 1px solid #d1d5da;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
}

button, input, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

details summary {
  cursor: pointer;
}
